name: Backend CI

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

jobs:
  test-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: backend
        run: npm install

      - name: Run server check
        working-directory: backend
        run: node -e "console.log('Backend CI OK')"
